.header {
	padding: 2rem 3rem 0 3rem;
	max-width: 80%;
	.navbar {
		display: flex;
		justify-content: space-between;

		.logo-image {
		}
		.menu-container {
			.menu-list {
				.menu-item {
					.menu-link {
					}
				}
			}
		}
	}
}

.main {
	.title {
		.title-image {
		}
		.title-heading {
		}
		.subtitile {
		}
		.buttons-area {
			.primary-btn {
			}
			.bookmark {
				.bookmark-icom {
					circle {
					}
					path {
					}
				}
			}
		}
	}
}
