// Import fonts
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,700;1,400&display=swap");

// Variables
//typograpfy
$ff-space-mono: "Space Mono", monospace;
$fw-regular: 400;
$fw-bold: 700;

$fs-body: 1.6rem;
$fs-form: 2.4rem;

// Colors
$clr-strong-cyan: hsl(172, 67%, 45%); //body background
$clr-very-dark-cyan: hsl(
	183,
	100%,
	15%
); // input color, tips background, selected input color
$clr-dark-grayish-cyan-1: hsl(184, 14%, 56%); //input background
$clr-dark-grayish-cyan-2: hsl(186, 14%, 43%); // card color
$clr-light-grayish-cyan-1: hsl(185, 41%, 84%); //input color
$clr-light-grayish-cyan-2: hsl(189, 41%, 97%);
$clr-white: hsl(0, 0%, 100%);

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

//Universal
html {
	font-size: 62.5%;
}

body {
	font-family: $ff-space-mono;
	font-size: $fs-body;
	background-color: $clr-light-grayish-cyan-1;
	position: relative;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	.header {
		margin: 5rem 0;
	}

	.card {
		background-color: $clr-white;
		color: $clr-dark-grayish-cyan-1;
		border-radius: 2rem;
		padding: 4rem 2.5rem;
		width: 100%;

		&__left {
			padding: 0 0.8rem;
		}

		&-item {
			display: flex;
			flex-direction: column;
			margin-bottom: 4rem;
			width: 100%;

			& > * {
				display: block;
				width: 100%;
			}
		}

		&__amount .card__heading,
		&__people .card__heading {
			margin-bottom: 1.2rem;
		}

		&__tips .card__heading {
			margin-bottom: 2.2rem;
		}

		& input[class*="input"] {
			background-color: $clr-light-grayish-cyan-2;
			color: $clr-very-dark-cyan;
			border-radius: 0.8rem;
			padding: 1.2rem 1.8rem;
			text-align: right;
			font-size: $fs-form;
			font-family: $ff-space-mono;
			border: none;
		}
	}
}
