*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font-size: 1.8rem;
	font-family: $ff-barlow;
	width: 100%;
	min-height: 100vh;
}
header {
	padding: 3rem 2rem;
}

.heading,
.container,
.footer {
	width: 100vw;
}
nav[class$="desktop"] {
	display: none;
}
nav[class$="mobile"] {
	display: flex;
}

.hidden {
	display: none;
}

@media screen and (min-width: 780px) {
	nav[class$="mobile"] {
		display: none;
	}
	nav[class$="desktop"] {
		display: flex;
	}
}
