/* import fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	/* Fonts */
	--ff-secondary: "Inter", sans-serif;
	--ff-primary: "Lexend Deca", sans-serif;

	--fw-reg: 400;
	--fw-bold: 700;

	--fs-head: 1.7rem;
	--fs-body: 1rem;

	/* primary colors */
	--clr-darker-blue: #090b1a;
	--clr-dark-blue: #1b1938;
	--clr-soft-violet: #aa5cdb;

	/* neutral colors */
	--clr-white: #ffffff;
	--clr-white-transparent-75: hsla(0, 0%, 100%, 0.75);
	--clr-white-transparent-60: hsla(0, 0%, 100%, 0.6);
}

html {
	font-size: 15px;
}

body {
	background: var(--clr-darker-blue);
	font-family: var(--ff-primary);
	color: var(--clr-white);
	font-size: var(--fs-body);
	padding: 5.86em 1.6em;
}

img {
	max-width: 100%;
}

.card {
	background: var(--clr-dark-blue);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
	overflow: hidden;
	padding-bottom: 40px;
}

.card__image {
	background-color: var(--clr-soft-violet);
	margin-bottom: 45px;
}

.card__image img {
	display: block;
	opacity: 0.4;
	width: 100%;
}

.card__body {
	text-align: center;
	color: var(--clr-white-transparent-60);
	padding: 0 35px;
}

.card__heading {
	color: var(--clr-white);
	margin-bottom: 28px;
	font-size: var(--fs-head);
	font-family: var(--ff-secondary);
}

.card__heading--highlighted {
	color: var(--clr-soft-violet);
}

.card__info {
	margin-bottom: 45px;
	line-height: 2;
	font-family: var(--ff-secondary);
}

.card__stats {
	display: flex;
	flex-direction: column;
	color: var(--clr-white);
}

.card__stats > p {
	margin-bottom: 30px;
	font-size: 20px;
	font-family: var(--ff-primary);
	font-weight: var(--fw-bold);
}

.card__stats > p:last-child {
	text-transform: uppercase;
}

.card__stats--stat {
	display: block;
	text-transform: uppercase;
	color: var(--clr-white-transparent-60);
	font-size: 0.55em;
	margin-top: 10px;
}

@media (min-width: 768px) {
	body {
		display: flex;
		align-items: center;
	}

	.card {
		flex-direction: row;
		justify-content: stretch;
		padding: 0;
		text-align: left;
	}

	.card__image {
		position: relative;
		margin: 0;
		flex-grow: 4;
	}

	.card__image + img {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		margin: 0 auto;
	}

	.card__body {
		text-align: left;
		order: -1;
		max-width: 50%;
		margin: 0 auto;
		padding: 0 70px 0 60px;
	}

	.card__heading {
		font-size: 2em;
	}

	.card__info {
		line-height: 2;
		font-size: 0.9em;
	}

	.card__stats {
		flex-direction: row;
		justify-content: flex-start;
	}

	.card__stats p {
		margin-right: 60px;
		margin-bottom: 0;
	}

	.card__stats--stat {
		font-weight: var(--fw-reg);
	}
}
